body{
	font-family: 'Amaranth', sans-serif;
	font-size: 16px;
	color: #776E65;
	background-color: #FAF8EF;
	.content{
		width: 100%;
		margin: 0 auto;
	}
	.game{
		position: relative;
		width: 100%;
		margin: 0 auto;
		h1{
			font-size: 3em;
			text-align: center;
			width: 100%;
			margin: 20px;
		}
		.content_board{
			text-align: center;
			.board{
				width: auto;
				position:relative;
				padding: 3px 0 0 3px;
				.rows{
					width: 100%;
					padding: 0px;
					.cell{
						padding:0px;
						border: 2px solid black;
						margin: -3px;
						width: 100px;
						height: 100px;
						display: inline-block;
						position:relative;
						img{
							position:absolute;
							width: 90%;
							height: 90%;
							top:5%;
							left: 5%;
						}
					}
					.cell:hover{
						box-shadow: inset 0px 0px  6px red,
									inset 0px 0px  2px red,
									inset 0px 0px  15px red;
					}
				}
			}
		}
	}
}